<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/api/produtos" method="post" name="formProdutos">
	<div>
		<label for="titulo">Título</label>
		<input type="text" name="titulo" id="titulo" placeholder="Coloque o título">
	</div>	
		<div>
		<label for="preco">Preço</label>
		<input type="text" name="preco" id="preco" placeholder="Coloque o preço">
	</div>
	<div>
		<label for="descricao">Descrição</label>
		<textarea id="descricao" name="descricao"  rows="10" cols="50" placeholder="Fale sobre o livro">
		</textarea> 
	</div>	

	<input type="submit" value="Gravar"/>	
		
	</form>
</body>
</html>