<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
            </tr>
            <tr>
                <td>2</td>
                <td>livro de nodejs</td>
            </tr>
        </table>
    </body>
</html>
